body {
    background-color: #36393e;
    color: #ccc;
}
a {
    color: #fff;
}
input, textarea, select, span.button {
    background-color: #262626;
    border-color: #4c4c4c;
    color: #ccc;
}
textarea {
    background-color: #414449;
    border-color: #67696d;
}
#titleLine, #nicklist, #nicklist select, #switchbar {
    background-color: #2e3136;
}
#title {
    color: #fff;
}
#body, #middle, #nicklist select {
    border-color: #4c4c4c;
}
.hl {
    color: #ff8000;
}
.nickMe {
    color: #ccc;
}
.nick {
    color: #808080;
}
span.button {
    background-color: #2e3136;
}
span.button.selected {
    background-color: #414449;
    color: #fff;
}
span.button.newLine {
    color: #0080ff;
}
span.button.newMsg {
    color: #ff0000;
}
span.button.highlight {
    color: #009000;
}
::-webkit-scrollbar-thumb {
    background-color: #1e2124;
}
::-webkit-scrollbar-track-piece {
    background-color: #2e3136;
}
hr {
    background-color: #f04747;
}