html {
  height: 100%;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    text-decoration: none;
    overflow: hidden;
}
table {
  border-collapse: collapse;
}
input, textarea, select, span.button {
    font-family: Verdana, Arial, Helvetica, Sans-serif;
    font-size: 1em;
    border: 1px solid;
}
u {
    text-decoration: none;
}
#nicklist {
  _height: 100%;
  vertical-align: top
}
#nicklist, .user, .chan {
    cursor: pointer;
}
#container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
#titleLine {
    display: flex;
    flex-direction: row;
    min-height: 38px;
}
#title {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-weight: bold;
    justify-content: center;
    margin-left: 20px;
}
#body {
    border-top: 1px solid;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
#nicklist select {
    border: 0;
    border-left: 1px solid;
    height: 100%;
    margin-top: 1px;
    overflow-y: auto;
    overflow-x: hidden;
    outline: 0;
    width: 180px;
}
#middle {
    border-left: 1px solid;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
#scrollbox {
    margin-left: 1px;
    padding: 1px 0 0 5px;
    flex-grow: 1;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: 0;
}
#scrollbox div {
    width: 100%;
    overflow-wrap: break-word;
    word-break: break-word;
}
#scrollbox p {
    margin: 3px 0 3px 0;
}
#switchbar {
    vertical-align: top;
    padding: 2px;
}
#switchbar span.button {
    margin-bottom: 2px;
    line-height: 1.5em;
    width: 180px;
    display: block;
    text-align: center;
    cursor: pointer;
}
#editboxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    min-height: 52px;
}
#editboxes textarea {
    padding: 8px;
    margin: 6px;
    height: 100%;
    line-height: 20px;
    font-size: 16px;
    outline: none;
    border-radius: 3px;
    border-width: 2px;
}

.b { font-weight: bold; }
.u { text-decoration: underline; }
.i { font-style: italic; }
.c0 { color: #ffffff; }
.c1{ color: #000000; }
.c2 { color: #000080; }
.c3 { color: #009000; }
.c4 { color: #ff0000; }
.c5 { color: #800000; }
.c6 { color: #a000a0; }
.c7 { color: #ff8000; }
.c8 { color: #ffff00; }
.c9 { color: #00ff00; }
.c10 { color: #009090; }
.c11 { color: #00ffff; }
.c12 { color: #0000ff; }
.c13 { color: #ff00ff; }
.c14 { color: #808080; }
.c15 { color: #d0d0d0; }
.bc0 { background-color: #ffffff; }
.bc1{ background-color: #000000; }
.bc2 { background-color: #000080; }
.bc3 { background-color: #009000; }
.bc4 { background-color: #ff0000; }
.bc5 { background-color: #800000; }
.bc6 { background-color: #a000a0; }
.bc7 { background-color: #ff8000; }
.bc8 { background-color: #ffff00; }
.bc9 { background-color: #00ff00; }
.bc10 { background-color: #009090; }
.bc11 { background-color: #00ffff; }
.bc12 { background-color: #0000ff; }
.bc13 { background-color: #ff00ff; }
.bc14 { background-color: #808080; }
.bc15 { background-color: #d0d0d0; }

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}
.modal-content {
    display: none;
    color: #fff;
    background-color: #545454;
    margin: 5% auto 0 auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
#userScript {
    width: 95%;
    height: 95%;
    font-family: monospace;
    white-space: nowrap;
}
#buttons {
    width: 186px;
}
#buttons > span {
    padding: 0;
    width: 20px;
    height: 20px;
    display: block;
    margin: 9px;
    opacity: 0.33;
    cursor: pointer;
}
#buttons > span:hover {
    opacity: 1;
}
#settingsButton {
    background-image: url("sets.svg");
    background-size: contain;
}

.contextmenu-custom {
    color: black;
}

#lag {
    justify-content: center;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    padding: 0 5px;
}
.embed {
    display: block;
    margin: 3px 0 0 100px;
}
.embed img {
    border-radius: 2px;
    max-width: 520px;
    max-height: 225px;
}


::-webkit-scrollbar {
    width: 14px;
}
::-webkit-scrollbar-thumb , ::-webkit-scrollbar-track-piece {
    background-clip: padding-box;
    border: 3px solid transparent;
    border-radius: 7px;
}

hr {
    border: none;
    margin: 8px 10px 8px 10px;
    height: 1px;
}

#setsTabs > div {
    display: none;
}

#modal-settings {
    height: 75%;
}
#settings-window {
    height: 95%;
    display: flex;
}
#setsMenu {
    display: flex;
    flex-direction: column;
    width: 125px;
    margin: 10px 10px 0 0;
}
#setsMenu button {
    margin-bottom: 5px;
}
#setsMenu button.selected {
    font-weight: bold;
}
#setsTabs {
    flex: 1;
}